<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Blokir akses ke folder sistem, aplikasi, dan database secara langsung
    RewriteRule ^(application|system|database) - [F,L]

    # Arahkan semua request ke index.php CodeIgniter
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>

<IfModule LiteSpeed>
    CacheDisable public /
</IfModule>
Options -Indexes