<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Mencegah akses langsung ke folder sistem dan aplikasi
    RewriteCond %{REQUEST_URI} ^system.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]
    RewriteCond %{REQUEST_URI} ^application.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]

    # Menghilangkan index.php untuk semua URL
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>

# Konfigurasi keamanan dasar & optimasi LiteSpeed
<IfModule LiteSpeed>
    CacheDisable public /
</IfModule>
Options -Indexes